@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: black;
}
.own-text-border {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.kjkszpj {
  background: rgba(39, 82, 116, 0.3);
}
.kjkszpj2 {
  background: rgba(39, 82, 116, 0.5);
}

input::file-selector-button {
  transition: 0.3s;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
input::file-selector-button:hover {
  opacity: 0.7;
}
.exers::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.exers::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.pixer {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pixer2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  object-fit: cover;
}
.text-right {
  text-align: right;
}
